.back-to-top {
    @include flexBox(hor);
    flex-direction: column;
    margin: 35px 0;

    &-icon {
        width: 45px;
        height: 45px;
        @include flexBox(both);
        border-radius: 50%;
        background: linear-gradient(to right, #2f82ed 0, #00afef 100%);
        margin-bottom: 10px;

        & > svg {
            min-width: 18px;
        }
    }

    &-text {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
    }
}
