.playlist {
    &-cover {
        margin-bottom: 24px;

        &.special {
            margin-bottom: 0;
        }

        &__title {
            font-size: 26px;
            font-weight: 900;
            line-height: 48px;
            width: fit-content;

            &.special {
                padding-right: 25px;
                background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='64px' width='64px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 477.175 477.175' xml:space='preserve' transform='rotate(0)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='7.6348'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5 c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 13px;
                background-position-x: right;
                background-position-y: 52%;
            }
        }

        &__list {
            @include gridBox(2, 16px, 16px);
            padding-bottom: 20px;
            border-bottom: 1px solid #eeeeee;
            margin-top: 8px;
        }

        &__item {
            position: relative;

            &.special {
                .playlist-cover__img {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 8px;
                        right: 8px;

                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        padding: 6px;

                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Eplay-circle-solid%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='invisible_box' data-name='invisible box'%3E%3Crect width='48' height='48' fill='none'%3E%3C/rect%3E%3C/g%3E%3Cg id='icons_Q2' data-name='icons Q2'%3E%3Cpath d='M24,2A22,22,0,1,0,46,24,21.9,21.9,0,0,0,24,2ZM34.6,24.7,18.1,34.8c-.6.4-1.1.1-1.1-.6V13.8c0-.7.5-1,1.1-.6L34.6,23.3A.8.8,0,0,1,34.6,24.7Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }

        &__img {
            @include imgPT(100%);
            border-radius: 4px;
            margin-bottom: 8px;
        }

        &__sub {
            font-size: 16px;
            color: #333;
            font-weight: 600;
            margin-bottom: 2px;
            @include lineDot(1);
        }

        &__single {
            font-size: 14px;
            color: #888;
            @include lineDot(1);
        }
    }
}
