html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

input,
textarea,
select,
button {
  outline: none; }

a {
  color: #333;
  display: block;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p,
h1,
h4,
h2,
h3 {
  margin: 0;
  font-size: 16px; }

button:focus {
  box-shadow: none !important; }

button:hover {
  opacity: 0.9; }

a:hover {
  opacity: 0.9; }

/* PC Alway  */
/* PC BIG  */
/* PC BIG Lower */
/* PC BIG 16 */
/* PC fit */
/* PC fit-sub */
/* PC fit lower */
/* PC fit lower */
/* PC fit small */
/* PC HD */
/* PC Change */
/* PC LOWER  min-1023px */
/* Mobile & tablet */
/* Tablet */
/* Mobile */
/* Phone Small */
html {
  scroll-behavior: smooth !important; }

body {
  scroll-behavior: smooth !important;
  transition: all 0.3s ease;
  transition: 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
  color: #333;
  font-family: "Open Sans";
  line-height: 21px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  padding-right: 0 !important;
  background-color: #fff; }
  @media only screen and (min-width: 1650px) {
    body .container-xl {
      max-width: 1383px; } }
  @media only screen and (max-width: 1440px) {
    body .container-xl {
      max-width: 96%; } }
  @media only screen and (max-width: 1283px) {
    body .container-xl {
      max-width: 100%; }
      body .container-xl .hide-on-pc-HD {
        display: none; } }
  body .container {
    padding: 0 16px; }
    @media only screen and (min-width: 1650px) {
      body .container {
        max-width: 1340px; } }
    @media only screen and (max-width: 63.9375em) {
      body .container {
        max-width: 100%; }
        body .container .hide-on-bothTM {
          display: none !important; } }

.hide {
  display: none !important; }

.is-hide {
  animation: fadeHide 0.3s linear; }

.top-scroll {
  position: fixed;
  right: 1.8%;
  bottom: 3%;
  z-index: 99;
  width: 39px;
  height: 39px;
  border: 2px solid #000;
  border-radius: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  .top-scroll.show {
    display: flex;
    animation: fadeLine 0.3s linear; }
  .top-scroll i {
    color: #000;
    font-size: 1.2rem; }

.modal-backdrop.show {
  z-index: 1076;
  opacity: 0.86; }
  .modal-backdrop.show::after {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(50%) blur(10px); }
    @media only screen and (max-width: 46.1875em) {
      .modal-backdrop.show::after {
        backdrop-filter: grayscale(50%) blur(2px); }
        .modal-backdrop.show::after .hide-on-mobile {
          display: none; } }

.modal {
  z-index: 1077; }

.offcanvas {
  z-index: 1056; }
  .offcanvas-backdrop {
    z-index: 1055; }

.imageuploadify .imageuploadify-images-list button.btn-default {
  font-size: 1.6rem; }

.imageuploadify-container > button {
  position: relative;
  z-index: 99; }
  .imageuploadify-container > button::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30' width='30' fill='%23dc3545' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z'/%3E%3C/svg%3E"); }

.load-group {
  position: relative; }

.load-more {
  position: relative;
  transition: all 0.8s linear;
  overflow-y: hidden;
  max-height: 144px; }
  .load-more.special::after {
    display: block; }

.load-btn.dim {
  position: relative;
  max-width: inherit; }
  .load-btn.dim.active::after {
    height: 0; }
  .load-btn.dim::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 100%;
    height: 18px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.63); }

.filter-sort__more {
  padding: 6px 0 !important; }

.height-zoom {
  position: relative;
  z-index: 2; }
  .height-zoom::after {
    position: absolute;
    content: "";
    left: 0;
    top: -70%;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.88);
    z-index: -1; }

.filter-sort__group .height-zoom::after {
  display: none; }

.swiper-btn::after {
  display: none !important; }

.select2-container {
  z-index: 99; }

.select2-container--open {
  z-index: 1083; }

.header .select2-container--open .select2-dropdown--below {
  width: 227px !important; }

.select2-dropdown {
  border: 1.4px solid rgba(112, 112, 112, 0.25);
  border-radius: 5px;
  z-index: 1078; }
  @media only screen and (max-width: 46.1875em) {
    .select2-dropdown {
      width: 250px !important; }
      .select2-dropdown .hide-on-mobile {
        display: none; } }

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #fff !important;
  color: white; }

.select2-dropdown {
  z-index: 1056; }

.select2-container--default .select2-results > .select2-results__options {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 12px; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #cecece; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1; }

.swal2-popup .swal2-title {
  font-size: 25px;
  margin: 14px 0 0.4em; }

.swal2-popup .swal2-styled {
  padding: 9px 2em; }
  .swal2-popup .swal2-styled.swal2-cancel, .swal2-popup .swal2-styled.swal2-confirm {
    font-size: 16px; }

@keyframes smoothScroll {
  0% {
    transform: translateY(-140px); }
  100% {
    transform: translateY(0px); } }

@keyframes fadeHide {
  0% {
    height: 116px;
    opacity: 1; }
  100% {
    height: 0px;
    opacity: 0; } }

@keyframes fadeSearch {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes fadeShow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes spinner {
  100% {
    transform: rotate(360deg); } }

/* Track */
/* Handle */
/* Handle on hover */
@media (min-width: 1200px) {
  body .container-xl.special {
    max-width: calc(100% - ((100% - 1140px))); } }

@media (min-width: 1400px) {
  body .container-xl.special {
    max-width: calc(100% - ((100% - 1320px))); } }

@media only screen and (min-width: 1650px) {
  body .container-xl.special {
    max-width: calc(100% - (100% - 1383px) / 2);
    margin-left: auto;
    margin-right: 0; } }

.footer {
  background-color: #f8f8f8;
  border-top: 2px solid #e9e9e9; }
  .footer-cover__item {
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    padding-right: 25px;
    background-image: url("data:image/svg+xml,%3Csvg fill='rgba(0,0,0,.5)' height='64px' width='64px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 477.175 477.175' xml:space='preserve' transform='rotate(0)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='7.6348'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5 c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 13px;
    background-position-x: right;
    background-position-y: 52%; }
    .footer-cover__item.special {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
    .footer-cover__item:last-child {
      border-bottom: 0; }
  .footer-cover__icon {
    max-width: 46px;
    margin-right: 20px; }
  .footer-cover__text {
    color: #333;
    text-transform: uppercase;
    font-size: 16px; }
  .footer-cover__sub {
    padding-left: 15px;
    position: relative;
    color: #000;
    font-size: 15px; }
    .footer-cover__sub::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #000; }
  .footer-cover__copyright {
    padding: 5px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(to right, #2f82ed 0, #00afef 100%);
    text-align: center; }

.slider-swiper {
  margin-bottom: 8px; }
  .slider-swiper .swiper-pagination {
    position: relative;
    margin-top: 12px; }
    .slider-swiper .swiper-pagination-bullet {
      width: 6px;
      height: 6px; }
      .slider-swiper .swiper-pagination-bullet-active {
        background-color: #2caaec; }
  .slider-swiper__item {
    position: relative;
    padding-top: 65%;
    overflow: hidden; }
    .slider-swiper__item > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.banner-cover {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 35px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 24px; }
  .banner-cover__desc {
    padding-right: 20px; }
  .banner-cover__title, .banner-cover__text {
    color: #fff; }
  .banner-cover__title {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.88);
    text-transform: uppercase;
    margin-bottom: 12px; }
  .banner-cover__text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5); }
  .banner-cover__icon {
    padding: 14px 22px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px; }
    .banner-cover__icon > i {
      font-size: 16px;
      color: #2caaec; }

.playlist-cover {
  margin-bottom: 24px; }
  .playlist-cover.special {
    margin-bottom: 0; }
  .playlist-cover__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 48px;
    width: fit-content; }
    .playlist-cover__title.special {
      padding-right: 25px;
      background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='64px' width='64px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 477.175 477.175' xml:space='preserve' transform='rotate(0)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='7.6348'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5 c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 13px;
      background-position-x: right;
      background-position-y: 52%; }
  .playlist-cover__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 8px; }
  .playlist-cover__item {
    position: relative; }
    .playlist-cover__item.special .playlist-cover__img::after {
      content: "";
      position: absolute;
      bottom: 8px;
      right: 8px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      padding: 6px;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Eplay-circle-solid%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='invisible_box' data-name='invisible box'%3E%3Crect width='48' height='48' fill='none'%3E%3C/rect%3E%3C/g%3E%3Cg id='icons_Q2' data-name='icons Q2'%3E%3Cpath d='M24,2A22,22,0,1,0,46,24,21.9,21.9,0,0,0,24,2ZM34.6,24.7,18.1,34.8c-.6.4-1.1.1-1.1-.6V13.8c0-.7.5-1,1.1-.6L34.6,23.3A.8.8,0,0,1,34.6,24.7Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover; }
  .playlist-cover__img {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 8px; }
    .playlist-cover__img > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .playlist-cover__sub {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .playlist-cover__single {
    font-size: 14px;
    color: #888;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.top.special {
  background-color: #f8f8f8;
  padding-top: 30px; }

.top-cover {
  margin-bottom: 24px; }
  .top-cover__list {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee; }
  .top-cover__item {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    .top-cover__item.special .top-cover__img::after {
      content: "";
      position: absolute;
      bottom: 4px;
      right: 3px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 6px;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Eplay-circle-solid%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='invisible_box' data-name='invisible box'%3E%3Crect width='48' height='48' fill='none'%3E%3C/rect%3E%3C/g%3E%3Cg id='icons_Q2' data-name='icons Q2'%3E%3Cpath d='M24,2A22,22,0,1,0,46,24,21.9,21.9,0,0,0,24,2ZM34.6,24.7,18.1,34.8c-.6.4-1.1.1-1.1-.6V13.8c0-.7.5-1,1.1-.6L34.6,23.3A.8.8,0,0,1,34.6,24.7Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover; }
    .top-cover__item:last-child .top-cover__text {
      border-bottom: 0; }
  .top-cover__img {
    width: 70px;
    min-width: 70px;
    height: 70px;
    border-radius: 4px;
    position: relative;
    padding-top: 0%;
    overflow: hidden;
    margin-right: 16px; }
    .top-cover__img > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .top-cover__text {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 40px 0;
    border-bottom: 1px solid #eeeeee; }

.topic-cover {
  margin-bottom: 24px; }
  .topic-cover__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px 5px;
    margin-top: 8px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee; }
  .topic-cover__item {
    position: relative;
    padding-top: 30%;
    overflow: hidden;
    border-radius: 4px; }
    .topic-cover__item > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.back-to-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 35px 0; }
  .back-to-top-icon {
    width: 45px;
    height: 45px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(to right, #2f82ed 0, #00afef 100%);
    margin-bottom: 10px; }
    .back-to-top-icon > svg {
      min-width: 18px; }
  .back-to-top-text {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600; }

.signIn-cover__group {
  position: relative; }
  .signIn-cover__group .eye {
    width: 24px;
    height: 24px; }
    .signIn-cover__group .eye-open.is-active {
      display: block !important; }
      .signIn-cover__group .eye-open.is-active + .eye-close {
        display: none; }

.signIn-cover__icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%); }

.signIn-cover__view {
  position: relative; }
